---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Djamel Bougouffa"
  description="About Djamel Bougouffa Fullstack Software Engineer"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Jeanine White at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Fullstack Developer, graduating in 2021 with 3 years' experience
            (including 2 years on a sandwich course), looking for a position in
            Node.js and React.js, TypeScript.<br /> Currently working at Wemanity
            since March 2022. I've been working for Metro since April 2022 as a Fullstack
            Developer in Node.js, React.js, TypeScript and GraphQL. <br />I also
            did a year's work experience at Ma Formation Médicale as a Fullstack
            Developer (Node.js / React.js). I was involved in redesigning the
            API, updating the databases and redesigning the Front-End of the
            application. I'm looking for a new position because I'd like to have
            more remote flexibility.<br /> I'm available immediately on a full remote
            basis.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Master's degree in computer engineering / Expert Architect Web</p>
          <p>Bachelor's degree in computer engineering / Digital Project Manager </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            React, Node, Typescript, Scrum, Kubernetes, Docker, Graphql,
            Continuous CI/CD, Review, Tests, Hexagonal Architecture, Atomic
            Design
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
