---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work", ({ id }) => {
		return !id.startsWith('fr/');
   })).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="My Experience | Djamel Bougouffa"
  description="Discover Djamel Bougouffa's professional experience as a Full-Stack Software Engineer: TypeScript, React, Node.js, and DevOps across various companies."
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Experience"
        tagline="See my professional experiences below to get an idea of my background and expertise."
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
