---
const response = await fetch(
  "https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@strawbang"
);
const articles = await response.json();
---

{
  articles.items.map(
    (item: { title: string; thumbnail: string; link: string }) => (
      <li class="mention-card">
        <a href={item.link}>
          <img src={item.thumbnail} />
        </a>
        <p>{item.title}</p>
      </li>
    )
  )
}

<style>
  .article-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  .article-card img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
  }

  .article-card p {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: 50em) {
    .article-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
